<div class="f100 mar">
    <div class="flex ha vc card-light">
        <div class="w100 mar">
            <input class="w100 gut" type="text" name="search" placeholder="Carrera, profesión">
        </div>
        <div class="flex w100 ha vc">
            <div class="flex vc">
                <div class="mar">
                    <img class="p64 round" src="http://placehold.it/200x200" alt="Contacto">
                </div>
                <div class="col mar">
                    <span class="text-dark">Esteban Guzmán</span>
                    <span class="text-light">Mercadólogo</span>
                </div>
            </div>
            <div class="p32 mar">
                <a class="ratio" href="#">
                    <div>
                        <div class="hc vc bc-red round">
                            <svg class="w50" viewBox='0 0 512 512'>
                                <use xlink:href='#icon-plus' />
                            </svg>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>