<div class="f100 mar">
    <!-- Header -->
    <div class="flex he vc gut bc-red tc-white">
        <div class="flex">
            <svg class="svg-24" viewBox='0 0 512 512'>
                <use xlink:href='#icon-person' />
            </svg>
            <h6 class="air">Contactos</h6>
        </div>
        <a href="#">
            <svg class="svg-18" viewBox='0 0 512 512'>
                <use xlink:href='#icon-dots' />
            </svg>
        </a>
    </div>
    <!-- Body -->
    <div class="flex ha vi grow card-light">
        <a class="col mar" href="#">
            <div class="relative sc">
                <img class="p64 round" src="http://placehold.it/200x200" alt="Contacto">
                <!-- Notification orb -->
                <div class="absolute p24">
                    <div class="ratio orb">
                        <div>
                            <div class="hc vc bc-red round">
                                <span>+1</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span class="center sept">Brianda<br>Dávalos</span>
        </a>
        <a class="col mar" href="#">
            <div class="relative sc">
                <img class="p64 round" src="http://placehold.it/200x200" alt="Contacto">
            </div>
            <span class="center sept">Antonio<br>Arredondo</span>
        </a>
        <a class="col mar" href="#">
            <div class="relative sc">
                <img class="p64 round" src="http://placehold.it/200x200" alt="Contacto">
            </div>
            <span class="center sept">Giovana<br>Mendoza</span>
        </a>
        <a class="col mar" href="#">
            <div class="relative sc">
                <img class="p64 round" src="http://placehold.it/200x200" alt="Contacto">
            </div>
            <span class="center sept">Alejandra<br>Cáñez</span>
        </a>
        <a class="col mar" href="#">
            <div class="relative sc">
                <img class="p64 round" src="http://placehold.it/200x200" alt="Contacto">
            </div>
            <span class="center sept">Fernando<br>Moreno</span>
        </a>
        <a class="col mar" href="#">
            <div class="relative sc">
                <img class="p64 round" src="http://placehold.it/200x200" alt="Contacto">
            </div>
            <span class="center sept">Gerardo<br>Garza</span>
        </a>
    </div>
    <div class="flex ha vc card-light">
        <div class="flex vc">
            <div class="mar">
                <img class="p96 round" src="http://placehold.it/200x200" alt="Contacto">
            </div>
            <div class="col mar">
                <span class="text-dark">Gerardo Garza</span>
                <span class="text-dark">CEO Baxter</span>
                <span class="text-light">3 amigos en común</span>
                <div class="flex">
                    <a class="link-red" href="#">Suscribirse</a>
                </div>
            </div>
        </div>
        <a class="mar" href="#">
            <svg class="p28 fc-red" viewBox='0 0 512 512'>
                <use xlink:href='#icon-star' />
            </svg>
        </a>
    </div>
</div>