<div class="f100 mar">
    <div class="flex ha vs bc-light">
        <a class="auto gut nav-light" href="#">
            <svg class="w100 svg-24" viewBox='0 0 512 512'>
                <use xlink:href='#icon-messages' />
            </svg>
        </a>
        <a class="auto gut nav-light" href="#">
            <svg class="w100 svg-24" viewBox='0 0 512 512'>
                <use xlink:href='#icon-mail' />
            </svg>
        </a>
        <a class="auto gut nav-light" href="#">
            <svg class="w100 svg-24" viewBox='0 0 512 512'>
                <use xlink:href='#icon-heart' />
            </svg>
        </a>
    </div>
</div>