<div class="f100 mar">
    <div class="flex ha vc card-white">
        <div class="w100 mar">
            <input class="w100 gut" type="text" name="search" placeholder="Usuario">
        </div>
        <div class="w100 mar">
            <input class="w100 gut" type="text" name="search" placeholder="Correo">
        </div>
        <div class="w100 mar">
            <input class="w100 gut" type="text" name="search" placeholder="Contraseña">
        </div>
        <div class="w100 mar">
            <input class="w100 gut" type="text" name="search" placeholder="Confirmar Contraseña">
        </div>
        <div class="w100 mar">
            <button class="w100 gut button-red">Registrarse</button>
        </div>
    </div>
</div>